{% extends 'main.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/finished.css">
{% endblock %}

{% block questionbox %}
<div id='resultbox'>
  <div id='result'>
    <p>答题完成！成绩：</p>
    <p>答题数：{{ result.qnum }}</p>
    <p>答对数：{{ result.rightnum }}</p>
    <p>耗时：{{ mins }}分{{ secs }}秒</p>
  </div>
</div>
<div id='buttonbox'>
  <a class='mybt3' href='/main/'>返回主界面</a>
  <wb:share-button button_text="分享结果到微博" size="big" appkey="2411916390" url='http://120.25.241.20/' title='我答对了{{ result.qnum }}道题，仅耗时{{ min }}分{{ secs }}秒，你也来试试吧！' type="button"></wb:share-button>
</div>
{% endblock %}

{% block script_src %}
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?debug=true" type="text/javascript" charset="utf-8"></script>
{% endblock %}
