{% extends 'main.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/finished.css">
{% endblock %}

{% block questionbox %}
<div id='resultbox'>
  <div id='result'>
    <p>答题完成！成绩：</p>
    <p>答题数：{{ result.qnum }}</p>
    <p>答对数：{{ result.rightnum }}</p>
    <p>耗时：{{ mins }}分{{ secs }}秒</p>
    <p>个人目前最好成绩，排行榜更新！</p>
    <p>排名：{{ rank }}</p>
  </div>
</div>
<div id='sharebtbox'>
  <wb:share-button type="button" count='n' size="big" appkey="2411916390" url='http://120.25.241.20/' title='在真假白鸽小测试中，我答对了{{ result.qnum }}道题，仅耗时{{ min }}分{{ secs }}秒，最好成绩排名{{  }}名，你也来试试吧！' ></wb:share-button>
</div>
<div id='buttonbox'>
  <a class='mybt3' href='/main/'>返回主界面</a>
  <a class='mybt2' href='/rankings/'>查看完整排行榜</a>
</div>
{% endblock %}

{% block script_src %}
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?debug=true" type="text/javascript" charset="utf-8"></script>
{% endblock %}
