<!DOCTYPE HTML>
<html>
<meta charset="utf-8">
<title>真假白鸽小测试</title>
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% block css %}
{% endblock %}
<head>
</head>

<body>
  <div id='box'>
    {% block content %}
    <div id='indextitlebox'>
        <h3 id='indextitle'>真 &nbsp;&nbsp;假 &nbsp;&nbsp;白 &nbsp;&nbsp;鸽 &nbsp;&nbsp;小 &nbsp;&nbsp;测 &nbsp;&nbsp;试</h3>
    </div>
    <div id='loginbox'>
      <a href='/login/'>
        <img src='/static/images/weibologo.jpeg'/>
        <p class='myButton3'>用微博登录并准备答题</p>
      </a>
    </div>
    {% endblock %}
  </div>
{% block script_src %}
{% endblock %}
</body>

</html>
