<!DOCTYPE HTML>
<html xmlns:wb="https://open.weibo.com/wb">
<head>
<meta charset="utf-8">
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='renderer' content='webkit'>
<title>真假白鸽小测试</title>
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% block css %}
{% endblock %}
</head>

<body>
  <div id='box'>
    {% block content %}
    <div id='indextitlebox'>
        <h3 id='indextitle'>真 &nbsp;&nbsp;假 &nbsp;&nbsp;白 &nbsp;&nbsp;鸽 &nbsp;&nbsp;小 &nbsp;&nbsp;测 &nbsp;&nbsp;试</h3>
    </div>
    <div id='loginbox'>
      <a href='/login/'>
        <img src='/static/images/weibologo.jpeg'/>
        <p class='myButton3'>用微博登录并准备答题</p>
      </a>
    </div>
    <div id='contactbox'>使用中有任何问题请联系：新浪微博@战鸽军团指挥部</div>
    {% endblock %}
  </div>

{% block script_src %}
{% endblock %}
</body>

</html>
