{% extends "main.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/quiz.css">
{% endblock %}

{% block questionbox  %}
<div id="cdclock" class="redCountdownDemo"></div>
<div id='questioncontainer'>
    <div class="question-number">{{ now_qnum }}/{{ total }}</div>
    <div id='question'>{{ question.question }}</div>
    <ul class='answers'>
      <li value='A'>A.  {{ question.optionA }}</li>
      <li value='B'>B.  {{ question.optionB }}</li>
      <li value='C'>C.  {{ question.optionC }}</li>
      <li value='D'>D.  {{ question.optionD }}</li>
    </ul>
</div>
<div id='resultbox'><div id='result'></div></div>
{% endblock %}

{% block script_src %}
<script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
<script src="/static/js/jquery.knob.js"></script>
<script src="/static/js/jquery.ba-throttle-debounce.min.js"></script>
<script src="/static/js/jquery.redcountdown.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#cdclock').redCountdown({ preset: "flat-colors-fat", end: $.now() + 10 });
  $(".answers li").click(function(){
    $(this).addClass('selected');
    $.post("/submit/",
    {
      option: $(this).val
    },
    function(data,status){
      $('#result').html(data.message)
      var t = setTimeout("window.location.href='/quiz/'",1000)
    });
  });
});
</script>
{% endblock %}
