{% extends "main.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/quiz.css">
{% endblock %}

{% block questionbox  %}
<div id="cdclock" class="redCountdownDemo"></div>
<div id='questioncontainer'>
    <div class="question-number">{{ now_qnum }}/{{ total }}</div>
    <div id='question'>{{ question }}</div>
    <ul class='answers'>
      <li value='A'>A.  {{ options.A }}</li>
      <li value='B'>B.  {{ options.B }}</li>
      <li value='C'>C.  {{ options.C }}</li>
      <li value='D'>D.  {{ options.D }}</li>
    </ul>
</div>
<div id='resultbox'><div id='result'></div></div>
<div id='endbtbox'><a class="myButton1" href="#" onClick="javascript:endquiz()">结束本次答题</a></div>
{% endblock %}

{% block script_src %}
<script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
<script src="/static/js/jquery.knob.js"></script>
<script src="/static/js/jquery.ba-throttle-debounce.min.js"></script>
<script src="/static/js/jquery.redcountdown.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#cdclock').redCountdown({ preset: "flat-colors-fat", end: $.now() + 11, onEndCallback: function()
  {
    $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    $.post("/submit/",
    {
      option: 'E'
    },
    function(data,status){
      $('#result').html(data.message)
      var t = setTimeout("window.location.href='/quiz/'",1000)
    });
  }});
  $(".answers li").click(function(){
    if($(".answers li").attr("class") == 'selected')
        return;
    $(this).addClass('selected');
    $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    $.post("/submit/",
    {
      option: $(this).attr('value')
    },
    function(data,status){
      $('#result').html(data.message)
      var t = setTimeout("window.location.href='/quiz/'",1000)
    });
  });
});
  function endquiz()
  {
    if(confirm("确定要结束本次答题吗？") == false)
        return;
    window.location.href="/endquiz/";
  }
</script>
{% endblock %}
